/* font-family: "RobotoLight"; */
@font-face {
  font-family: RobotoLight;
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/RobotoLight/RobotoLight.eot");
  src: url("../fonts/RobotoLight/RobotoLight.eot?#iefix")format("embedded-opentype");
  src: url("../fonts/RobotoLight/RobotoLight.woff") format("woff");
  src: url("../fonts/RobotoLight/RobotoLight.ttf") format("truetype");
}
/* font-family: "RobotoRegular"; */
@font-face {
  font-family: RobotoRegular;
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/RobotoRegular/RobotoRegular.eot");
  src: url("../fonts/RobotoRegular/RobotoRegular.eot?#iefix")format("embedded-opentype");
  src: url("../fonts/RobotoRegular/RobotoRegular.woff") format("woff")l;
  src: url("../fonts/RobotoRegular/RobotoRegular.ttf") format("truetype");
}
/* font-family: "RobotoMedium"; */
@font-face {
  font-family: RobotoMedium;
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/RobotoMedium/RobotoMedium.eot");
  src: url("../fonts/RobotoMedium/RobotoMedium.eot?#iefix")format("embedded-opentype");
  src: url("../fonts/RobotoMedium/RobotoMedium.woff") format("woff");
  src: url("../fonts/RobotoMedium/RobotoMedium.ttf") format("truetype");
}
/* font-family: "RobotoBold"; */
@font-face {
  font-family: RobotoBold;
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/RobotoBold/RobotoBold.eot");
  src: url("../fonts/RobotoBold/RobotoBold.eot?#iefix")format("embedded-opentype");
  src: url("../fonts/RobotoBold/RobotoBold.woff") format("woff");
  src: url("../fonts/RobotoBold/RobotoBold.ttf") format("truetype");
}

*
  font-family RobotoLight

.btn
  margin-right 10px

.mess-text
  display inline-block
  margin-left 10px
  width inherit

.ui-clock
  text-align right
  font-size: 18px
  margin 10px

.example-enter
  opacity 0.01

.example-enter.example-enter-active
  opacity 1
  transition opacity 500ms ease-in

.example-leave
  opacity 1

.example-leave.example-leave-active
  opacity 0.01
  transition opacity 300ms ease-in

.nav-ico
  display inline-block
  padding 5px 20px 5px 5px
